Fides Angelene R. Manalo
12201863 - RVRCOB

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [2]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [4]:
zomato_df = pd.read_csv('/zomato.csv')
location_df = pd.read_csv('/location.csv')
ratings_df = pd.read_csv('/ratings.csv')

merged_df = pd.merge(zomato_df, location_df, on='id', how='inner')
merged_df = pd.merge(merged_df, ratings_df, on='id', how='inner')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)
print(merged_df)

            id  average_cost_for_two book_url  \
0      6316125                  1000      NaN
1     18409457                  1300      NaN
2      6307689                  1600      NaN
3     18581637                  1000      NaN
4      6315438                  3000      NaN
...        ...                   ...      ...
6825  18635649                  1000      NaN
6826   6318581                   400      NaN
6827   6318578                   450      NaN
6828   6309612                  1000      NaN
6829   6318582                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  ...  country_id   latitude  \
0                     0  ...         162  14.560313
1                     0  ...         162  14.552137
2                     0  ...         162  14.563144
3                     0  ...         162  14.633713
4                     0  ...         162  14.546236
...                 ...  ...         ...        ...
6825                  0  ...         162  14.422261
6826                  0  ...         162  14.756424
6827                  0  ...         162  14.756406
6828                  0  ...         162  14.610628
6829                  0  ...         162  14.756382

                                               locality  \
0                                       Salcedo Village
1                 Greenbelt 3, San Lorenzo, Makati City
2                                             Poblacion
3                                          Tomas Morato
4     SM Aura Premier, Bonifacio Global City, Taguig...
...                                                 ...
6825    Westgate Center, Filinvest City, Mutinlupa City
6826  Zabarte Town Center, North Caloocan, Caloocan ...
6827  Zabarte Town Center, North Caloocan, Caloocan ...
6828     Greenhills Town Center, Valencia, Quezon City
6829  Zabarte Town Center, North Caloocan, Caloocan ...

                                       locality_verbose   longitude zipcode  \
0                          Salcedo Village, Makati City  121.024638     NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325     NaN
2                                Poblacion, Makati City  121.029800  1210.0
3                             Tomas Morato, Quezon City  121.035026     NaN
4     SM Aura Premier, Bonifacio Global City, Taguig...  121.054365     NaN
...                                                 ...         ...     ...
6825  Westgate Center, Filinvest City, Mutinlupa Cit...  121.033175     NaN
6826  Zabarte Town Center, North Caloocan, Caloocan ...  121.043329     NaN
6827  Zabarte Town Center, North Caloocan, Caloocan ...  121.043498     NaN
6828  Greenhills Town Center, Valencia, Quezon City ...  121.037031     NaN
6829  Zabarte Town Center, North Caloocan, Caloocan ...  121.043452     NaN

     aggregate_rating rating_color rating_text  votes
0                 4.9       3F7E00   Excellent   1394
1                 4.6       3F7E00   Excellent    602
2                 4.0       5BA829   Very Good    563
3                 4.0       5BA829   Very Good    413
4                 4.6       3F7E00   Excellent    960
...               ...          ...         ...    ...
6825              2.9       FFBA00     Average      6
6826              3.0       CDD614     Average      5
6827              0.0       CBCBC8   Not rated      1
6828              3.7       9ACD32        Good     96
6829              0.0       CBCBC8   Not rated      2

[6830 rows x 35 columns]

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [20]:
def exercise_2(merged_df):
    res_series = merged_df.groupby('city')['aggregate_rating'].mean()
    return res_series

In [24]:
print("Manila:", res_series[res_series.index == 'Manila'])
print("Quezon City:", res_series[res_series.index == 'Quezon City'])
print("Makati City:", res_series[res_series.index == 'Makati City'])
print("Taguig City:", res_series[res_series.index == 'Taguig City'])

Manila: city
Manila    2.842652
Name: aggregate_rating, dtype: float64
Quezon City: city
Quezon City    2.887946
Name: aggregate_rating, dtype: float64
Makati City: city
Makati City    3.250512
Name: aggregate_rating, dtype: float64
Taguig City: city
Taguig City    3.234105
Name: aggregate_rating, dtype: float64

In [26]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(2.842652, res_series[res_series.index == 'Manila'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(2.887946, res_series[res_series.index == 'Quezon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(3.250512, res_series[res_series.index == 'Makati City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(3.234105, res_series[res_series.index == 'Taguig City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [27]:
rating_map = {
    'Excellent': 5,
    'Very Good': 4,
    'Good': 3,
    'Average': 2,
    'Poor': 1
}

# Apply the mapping to create a new column 'rating_numeric'
merged_df['rating_numeric'] = merged_df['rating_text'].apply(lambda x: rating_map.get(x, 0))

# Print the first few rows to verify the results
print(merged_df[['rating_text', 'rating_numeric']].head())

  rating_text  rating_numeric
0   Excellent               5
1   Excellent               5
2   Very Good               4
3   Very Good               4
4   Excellent               5

In [28]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [38]:
def exercise_4(merged_df, city):
    filtered_df = merged_df[merged_df['city'] == city]
    return filtered_df

In [42]:
filtered_df = exercise_4(merged_df, 'Makati City')
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

filtered_df = exercise_4(merged_df, 'Mandaluyong City')
assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

filtered_df = exercise_4(merged_df, 'Quezon City')
assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [51]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df = merged_df[cols_to_filter]
    return filtered_df

In [52]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']

filtered_df = exercise_5(merged_df, cols)
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [54]:
def common_resto(merged_df):
    common_counts = merged_df['name'].value_counts()
    common_resto = common_counts.idxmax()

    return common_resto

common_name = common_resto(merged_df)
print("The most common restaurant name is:", common_name)

The most common restaurant name is: Starbucks

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [57]:
def expensive_resto(merged_df):
    expensive_counts = merged_df['name'].value_counts()
    expensive_resto = expensive_counts.idxmax()

    return expensive_resto

expensive_name = expensive_resto(merged_df)
print("The most expensive restaurant name is:", expensive_name)

The most expensive restaurant name is: Starbucks

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [63]:
def count_no_zipcode(merged_df):
    count_no_zipcode = merged_df['zipcode'].isna().sum()
    return count_no_zipcode
no_zip = count_no_zipcode(merged_df)
print("Number of restaurants that do not have a zipcode:", no_zip)

Number of restaurants that do not have a zipcode: 6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [72]:
def count_online_delivery(merged_df):
    count_online_delivery = merged_df['has_online_delivery'].sum()
    return count_online_delivery

oldelivery_count = count_online_delivery(merged_df)
print("Number of restaurants that allow online delivery:", oldelivery_count)

Number of restaurants that allow online delivery: 0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [69]:
def local_average_cost(merged_df, locality):
    local_average_cost = merged_df[merged_df['locality'] == locality]['average_cost_for_two'].mean()
    return local_average_cost

average_cost_poblacion = local_average_cost(merged_df, 'Poblacion')
average_cost_salcedo = local_average_cost(merged_df, 'Salcedo Village')

print(f"Average cost for two in Poblacion: {average_cost_poblacion:.2f}")
print(f"Average cost for two in Salcedo Village: {average_cost_salcedo:.2f}")

if average_cost_poblacion > average_cost_salcedo:
    more_expensive_locality = "Poblacion"
else:
    more_expensive_locality = "Salcedo Village"

print(f"The locality with more expensive food is: {more_expensive_locality}")

Average cost for two in Poblacion: 898.21
Average cost for two in Salcedo Village: 989.10
The locality with more expensive food is: Salcedo Village